<%= render :partial => 'header'%>
<div id="wrap">
  <div id="content">
    <h2>Edit post</h2>
    <% form_for :post, :url => forum_topic_post_path, :html => { :method => :put } do |f|%>
      <div style="margin:0;padding:0">
        <input name="_method" type="hidden" value="put" />
        <input name="authenticity_token" type="hidden" value="20d916fc11782d032fa4eeada54db9815720d013" />
      </div>
      <div class="form_row">
        <%= f.text_area :content, :rows => 20, :cols => 40 %>
      </div>
      <div class="form_row">
        <%= submit_tag '提交', :class => 'button'%>
      </div>
    <% end%>
  </div>
</div>
